<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="niponapo.server.mappers.MemberMapper">

	<insert id="signup" parameterType="niponapo.server.vo.MemberVO" useGeneratedKeys="true" keyProperty="user_pid">
		insert into member (id,pw,name,email,idol_pid,how, user_key)
		values  (#{id}, #{pw}, #{name}, #{email}, #{idol_pid}, #{how}, "N")
		
	</insert>
	
	<update id="update" parameterType="niponapo.server.vo.MemberVO">
		update member
		set 
		pw=#{pw},
		name=#{name},
		email=#{email},
		idol_pid=#{idol_pid},
		how=#{how}
		where user_pid=#{user_pid}
	</update>
	
	<select id="login" resultType="niponapo.server.vo.MemberVO">
		select *
		from member
		where id=#{id} and pw=#{pw}
	</select>
	
	<select id="idChk"  resultType="int">
		select count(*)
		from member
		where id=#{id}
	</select>
	
	<select id="emailChk" resultType="int">
		select count(*)
		from member
		where email=#{email}
	</select>
	
	<select id="findId" parameterType="Map">
		select id
		from member
		where name=#{name} and email=#{email}
	</select>

	
	<update id="findPw" parameterType="niponapo.server.vo.MemberVO">
		update member
		set pw=#{pw}
		where id=#{id} and name=#{name} and email=#{email}
	</update>
	
	
	
	<update id="getKey" parameterType="Map">
		update member
		set user_key=#{user_key}
		where user_pid=#{user_pid}
	</update>
	
	<update id="alterUserKey">
		update member
		set user_key="Y"
		where user_pid=#{user_pid}
	</update>

</mapper>